@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body
{
	width: 1110px;
	font-family: 'Open Sans',sans-serif;
	margin: 76px auto 0 auto;
	padding: 0;
	background-color: #E5E5E5;

}
ul{
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
table{
	border-spacing: 0;
}
.top-space
{
	position: absolute;
	left: 0;
	top: 0;
	height: 167px;
	width: 100%;
	background-color: #fff;
}

h2
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: #1D2335;
	text-align: center;
}
h3
{
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	color: #1D2335;
}