.button-cluster
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 192px;
}
.button-cluster:after{
	position: absolute;
	width: 100%;
	height: 130px;
	left: 0;
	margin-top: 112px;
	content: '';
	background-color: #fff;
}


.button-again
{
	width: 110px;
	height: 48px;
	margin-right: 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	display: flex;
	border: 1px solid #00A0F2;
	border-radius: 24px;
	color: #00A0F2;
	text-transform: uppercase;
}
.button-again p{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
}
.button-again--image{
	margin:19px 13px;
	width: 14px;
	height: 10px;

}
.button-copy{

	text-align: center;
	width: 255px;
	height: 48px;
	margin: 0;
	margin-right: 25px;
	border: 1px solid #00A0F2;
	border-radius: 100px;
	font-family: 'Verdana',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #00A0F2;
}
.button-copy p{
	margin-top: 16px;
}
.button-send{
	width: 255px;
	height: 48px;
	background-color: #00A0F2;
	border-radius: 100px;
	font-family: 'Verdana',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.button-send p{
	margin-top: 16px;
}