.main-choise{
	display: flex;
	width: 516px;
	height: 40px;
	border: 1px solid #dcdcdc;
	background: #fff;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #1D2335;
	padding-left: 16px;
	padding-right: 8px;
	align-items: center;
}
.main-choise-img{
	position: relative;
}
.sub-menu{
	display: none;
	flex-wrap: wrap;
	background-color: none;
}
.sub-menu--visible{
	display: block;
}
.variable{
	position: absolute;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 524px;
	height: 40px;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #1D2335;
	padding-left: 16px;
	background: #fff;
}
.variable:hover{
	background: #EDEFF2;
	color: #00A0F2;
	cursor: url('img/ukazatel.svg'),auto;
}
.variable--two{
	margin-top: 40px;
}
.variable--three{
	margin-top: 80px;
}
.variable:not(:last-child){
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #00A0F2;
}
.variable:last-child{
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #00A0F2;
}