@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
h1
{
	font-size: 32px;
	font-weight: 400;
	line-height: 44px;
	color: #1D2335;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	margin-top:229px;
	margin-bottom: 46px;
	text-align: center;
}