.table-products{
	width: 1110px;
	justify-content: space-between;
}

.table-products--title{
	height: 46px;
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #1D2335;
}
.table-products--offer{
	height: 46px;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	color: #1D2335;
}
.table-products--rectangle:after{
	position: absolute;
	left: auto;
	right: auto;
	width: 1110px;
	height: 1px;
	content: "";
	background-color: #1d2335;
	opacity: 0.1;
}
.table-articul{
	width: 158px;
}
.table-naiming{
	width: 500px;
}
.table-count{
	height: 46px;
	display: flex;
	vertical-align: middle;
	justify-content: center;
	width: 176px;
	margin: auto ;
}
.table-count--title{
	height: unset;
	padding: 11px 0 11px 0;
}
.table-count--image{
	margin: auto 0 auto 0;
	width: 16px;
	height: 16px;
}
.table-count--image:first-child{
	margin-left: 1px;
}
.table-count--image:last-child{
	margin-right: 1px;
}
.table-count--text{
	height: 22px;
	width: 58px;
	margin: auto 0;
}
.table-price{
	width: 143px;
}
.table-summ{
	width: 123px;
}
.table-products--offer:hover:after{
	display: block;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 46px;
	left: 0;
	content: '';
	background-color: #00A0F2;
	opacity: 0.07;
}