.two-box
{
	display: flex;
	flex-wrap:nowrap;
	margin-bottom: 40px ;
}
.two-box--space
{
	width: 30px;
}
.main-product
{
	width: 540px;

}
.main-choise{
	justify-content: space-between;
}
.work-version
{
	width: 540px;
}
.main-product--paragraph
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #747581;
}
.work-version--paragraph
{
	margin: 15px 0 0 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #747581;
}
.radio{
	display: flex;
	vertical-align: middle;
	height: 40px;
}
.radio--button{
	display: flex;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #1D2335;
}
.radio--button:not(:first-child){
	margin-left: 23px;
}
.radio--button > p{
	margin: auto 0 auto 5px;
}